body {
  background-color: lightgray;
}

table {
  border: 1px solid;
}

thead {
  font-weight: bold;
}

tr.current {
  background-color: yellow;
}

td {
  border: 1px solid;
  padding: 2px;
  min-width: 100px;
}

input {
  width: 100px;
}
